<h1>Alterar Disciplina</h1>
 
<%= form_for :disciplina, url: disciplina_path(@disciplina), method: :patch do |f| %>
  <% if @disciplina.errors.any? %>
    <div id="error_explanation">
      <h2>
        Este formulário possui <%= pluralize(@disciplina.errors.count, "erro") %>:
      </h2>
      <ul>
        <% @disciplina.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </p>
 
  <p>
    <%= f.label :cod_cred, 'Código Crédito' %><br>
    <%= f.text_field :cod_cred %>
  </p>

  <p>
    <%= f.label :semestre %><br>
    <%= f.number_field :semestre, in: 1..8, step:1 %>
  </p>

  <p>
    <%= f.label :vagas %><br>
    <%= f.number_field :vagas, in: 0..100, step:1 %>
  </p>

  <p>
    <%= f.label :informacao, 'Curso' %><br>
    <%= f.collection_select(:informacao, Informacao.all, :id, :curso, :prompt => "Selecione") %>
  </p>

  <p>
    <%= f.label :pre_requisitos, 'Pré Requisito' %><br>
    <%= f.collection_select(:pre_requisito, Disciplina.all, :id, :nome_cod_cred, :prompt => "Selecione") %>
  </p>
 
  <p>
    <%= f.submit 'Salvar Disciplina' %>
  </p>
 
<% end %>
 
<%= link_to 'Voltar', disciplina_path %>