<h1>Informções necessárias para simular</h1>

<%= link_to 'Dashboard', root_path %><br /> 

<%= form_tag '/simulador/simular', method: 'POST' do %>
	<p>
		<label>Curso</label>
		<%= collection_select(:informacao, :informacao_id, Informacao.all, :id, :curso, :prompt => "Selecione") %>
	</p>
	<p>
		<label>Semestre</label>
	    <%= number_field :semestre, :semestre, in: 1..8, step:1 %>
	</p>
	<p>
		<%= submit_tag 'Simular' %>
    	<%= submit_tag 'Limpar', :type => 'reset' %>
	</p>
<% end %>